.contenedor_footer {
  background-color: black;
  padding: 10px 0;
  text-align: center;
  color: white;
  margin-top: auto;
  border: 2px solid black;
}

.page_footer_text {
  margin: 0 auto;
  max-width: 800px;
}

.ul-foot {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  gap: 25px;
}

.li-foot {
  display: flex;
}

.a2 {
  color: white;
  font-size: 24px;
  transition: transform 0.2s ease;
}

.a2:hover .navegacion-blanco {
  color: cyan;
  font-size: 1.5rem;
}
.a2:hover .contacto-blanco {
  color: lightgreen;
  font-size: 1.5rem;
}
.a2:hover .facebook-blanco {
  color: blue;
  font-size: 1.5rem;
}
.a2:hover .insta-blanco {
  color: yellow;
  font-size: 1.5rem;
}
.a2:hover .tiktok-blanco {
  color: #ff0050;
  font-size: 1.5rem;
}
