/* pie de pagina de home */    
.contenedor_footer{
    position: absolute;
    top:119.5%;
    left:0.5%; 
    width: 100%;
    height: 13%;
    border: 4px solid black; 
    z-index: 100; /* Este valor puede ser ajustado */
    background-color: black;
}
.page_footer_text{
    text-align: center;
    color: white ;
    font-size: 1rem;
    text-align: center;
}
.ul-foot {
    position: absolute;
    left: 35%;
    display:grid;
    grid-template-columns:5% 5% 5% 5% 5%;
    grid-template-rows: 10%;
    position: relative;
    color: white;
}
.li-foot {
    display: grid;
    }

.a2 {
    color: white; /* Cambia el color a negro */
  }

.icono-blanco {
    color: white;
}

.a2:hover .navegacion-blanco {
    color: cyan; /* por ejemplo, el color de TikTok */
    font-size: 1.5rem;
}
.a2:hover .contacto-blanco {
    color: lightgreen; /* por ejemplo, el color de TikTok */
    font-size: 1.5rem;
}
.a2:hover .facebook-blanco {
    color: blue; /* por ejemplo, el color de TikTok */
    font-size: 1.5rem;
}
.a2:hover .insta-blanco {
    color: yellow; /* por ejemplo, el color de TikTok */
    font-size: 1.5rem;
}
.a2:hover .tiktok-blanco {
    color: #ff0050; /* por ejemplo, el color de TikTok */
    font-size: 1.5rem;
}