html,body{
    background-color: rgb(176, 126, 126);
    color: black;
    font-size: 1.2rem;
}
/* Contenedor de la informacion de venta telefonica */
.contenedor_pretitulo{
    position: absolute;
    top : 0.5%;
    left: 0.3%;  
    width: 100%;
    height: 5%;
    border: 4px solid black  ;    
    z-index: 100; /* Este valor puede ser ajustado */ 
    color: white;
    background-color: black;
}
/* Informacion de venta telefonica  ej: VENTA TELEFÓNICA: 11 5955 1111 */
.pretitulo{
    position: absolute;
    top : 18%;
    left: 1%;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 0.7rem;
}
/* Contenedor de BELLA DECO y el logo */
.contenedor_titulo{
    position: absolute;
    top: 7%;
    left: 0.3%;   
    width: 100%;
    height: 15%;
    border: 4px solid pink;
    z-index: 100; /* Este valor puede ser ajustado */ 
    background-color: white;
}
/* BELLA DECO Y LOGO */
.titulo{
    position: absolute;
    top: -15%;
    left: 2%;    
}
h1{
    font-size: 2rem;    
    text-align: left;
    color:rgb(128, 28, 45);
    font-family:Arial, Helvetica, sans-serif;
}
.logo{
    position: absolute;
    top: 10%;
    left: 20%;
    width: 4% ;
    z-index: 100; /* Este valor puede ser ajustado */          
}      
nav{   
    position:sticky;
    position: absolute;
    top: 20%;
    left: 400%;
}
.ul-nav {
    text-align:center;
    display:grid;
    grid-template-columns:60% 60% 60%;
    grid-template-rows: 10%;
}
.li-nav {
    display: grid;
    justify-content:end;
    align-items:center;
    font-size: 1rem;
}